@import './elements/button.scss';
@mixin border($color){
    border: 1px solid $color;
    border-radius: 1rem 1rem;
    &:hover{
        box-shadow: 5px 10px 27px 0px $color;
        width: 21.188em;
        height: 17.313em;
        .precio__boton{
            box-shadow: 5px 10px 27px 0px $color;
            left: 94px;
        }
    }
}
.precios{
    width: 100%;
    height: auto;
    &__titulo{
        font : {
            family: 'Raleway';
            size: 2.25em;
            weight: 400;
        }
        line-height: 42.26px;
        text-align: center;
        margin-bottom: calc(0.9rem - .4px);
        margin-top: 2.63rem;
    }
}

.precio{
    position: relative;
    width: calc(18.5rem - 1px);
    height: calc(15.8rem + 1px);
    margin: 0 auto;
    margin-bottom: 3.375em;
    align-content:center;
    padding-top: 1.563em;
    &--basic{
        @include border(rgba(251, 59, 100, 1));
    }
    &--professional{
        @include border(rgba(7, 172, 230, 1));
    }
    &--premium{
        @include border(rgba(85, 223, 180, 1));
    }
    &__content{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        height: 100%;
        margin: 0 0.9rem;
        &__tit, &__eur, &__oferta{
            display: block;
            width: 100%;
            height: max-content;
        }
        &__tit{
            font : {
                family: 'Raleway';
                size: 1.25em;
                weight: 700;
            }
            line-height: 24px;
            text-align: center;
            color: rgba(19, 37, 59, 1);
        }
        &__eur{
            font : {
                family: 'Open Sans';
                size: 2.875em;
                weight: 300;
            }
            line-height: 64px;
            text-align: center;
            &--basic{
                color: (rgba(251, 59, 100, 1));
            }
            &--professional{
                color: (rgba(7, 172, 230, 1));
            }
            &--premium{
                color: (rgba(85, 223, 180, 1));
            }
        }
        &__oferta{
            font : {
                family: 'Raleway';
                size: 0.75em;
                weight: 700;
            }
            line-height: 14.09px;
            text-align: center;
            color: rgba(19, 37, 59, 1);
        }
        &__oferta--display{
            display: none;
        }
    }

    &__lista{
        width: max-content;
        display: inline-block;
        ul{
            .check, .none{
                font-family: 'Open Sans';
                font-size: 0.8em;
                font-weight: 400;
                line-height: 19.07px;
                text-align: left;
                list-style: none;
                margin-bottom: 1.563em;
            }
            .check{
                list-style-image: url('../recursos/images/checkbox.png');
            }
            .none{
                list-style-image: url('../recursos/images/cross.png');
            }
        }
    }

    &__boton{
        position: absolute;
        bottom: -20px;
        left: 70px;
        &--basic{
            @include button(rgba(235, 71, 110, 1)
            , rgba(235, 71, 110, 1), rgba(255, 255, 255, 1), 9.4rem, 3.13rem, 0.813em);
        }
        &--professional{
            @include button(rgba(7, 172, 230, 1)
            , rgba(7, 172, 230, 1), rgba(255, 255, 255, 1), 9.4rem, 3.13rem, 0.813em);
        }
        &--premium{
            @include button(rgba(85, 223, 180, 1)
            , rgb(33, 59, 51), rgba(255, 255, 255, 1), 9.4rem, 3.13rem, 0.813em);
        }
    }
    
}
