@import './elements/imagenes-config.scss';
@media only screen and (min-width:1000px) {
    //NAV
    .header{
        &__nav{
            display: inline-block;
            width: 50%;
            font-family: 'Open Sans';
            font-size: 0.688em;
            font-weight: 700;
            line-height: 4.5em;
            letter-spacing: 3.2799999713897705px;
            text-align: center;
            color: rgba(165, 165, 165, 1);
            ul{
                li{
                    display: inline-block;
                    margin-right: 5.938em;
                    &:hover{
                        color: rgba(0, 0, 0, 1);
                        cursor: pointer;
                        border-bottom: 4px solid rgba(8, 166, 228, 1);
                    }
                }
            }
        }
        &__menu{
            display: none;
        }
    }
    //CARATERISTICAS
    .caracteristicas{
        &__header{
            @include config-img('top-banner','.jpg',100%, 594px);
        }
        &__titulo{
            max-width: 100%;
        }
    }
    
    .elementos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    //PUNTOS
    .card{
        width: calc(73.25em - 4px);
        height: calc(26.125em - 4px);
        display: grid;
        grid-template-columns: 55% 45%;
        align-content: center;
        justify-content: center;
        &--redimension{
            border: none;
        }
        &__span{
            display: inline-block !important;
        }
        hr{
            display: block;
            width: 20.478em;
            height: 4px;
            border: none;
            margin-top: 4.125em;
        }
        &__texto{
            max-width: 28.5em;
            max-height: 11.75em;
            &--center{
                align-content: center;
                margin-top: 3em;
            }
        }
        &__separador{
            &--rojo{
                background-color: rgba(251, 59, 100, 1);
            }
            &--azul{
                background-color: rgba(8, 166, 228, 1);
            }
            &--verde{
                margin-top: 5.125em !important;
                background-color: rgba(85, 223, 180, 1);
            }
        }
        &__titulo{
            font-size: 2.25em;
        }
        &--responsive{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
        }

        &__parrafo, &__parrafo2{
            max-width: 28.5em;
            max-height: 4.125em;
            font-size: 1em;
            line-height: 1.375em;
        }

        &__imagen{
            &__uno{
                top: -60px;
                right: -170px;
                @include config-img-superposicion('carac_back','.svg', 255px, 255px, 1);
            }
            &__dos{
                right: -130px;
                top: 0;
                @include config-img-superposicion('macbook','.svg', 386.44px, 219px, 2);
            }

            &__uno2{
                top: -80px;
                @include config-img-superposicion('carac2_back','.svg', 320px, 320px, 1);
            }
            &__dos2{
                top: -65px;
                right: -70px;
                @include config-img-superposicion('iphone','.svg', 426px, 328px, 2);
            }
        }
        &__imagen2{
            width: 27.5em;
            height: 25.75em;
            margin-left: 5.5em;
            &__uno3{
                left: 108px;
                top: 133px;
                @include config-img-superposicion('trumpet','.svg', 265.73px, 207.72px, 10);
            }
        }
        &--background{
            background-color: rgba(247, 247, 247, 1);
        }
    }
    //PRECIOS
    .precios{
        &__content{
            display: grid;
            grid-template-columns: repeat(3,23.38em);
            gap: 3.688em;
            justify-content: center;
            margin-top: 3.75em;
            height: 33.25em;
        }
        &__titulo{
            margin-top: 3.569em;
        }
    }
    .precio{
        width: 23.38em;
        height: 32.01em;
        margin: 0;
        display: grid;
        grid-template-rows: 12em 23.25em;
        justify-content: center;
        align-content: stretch;
        &:hover{
            width: 25.440em;
            height: 34.44em;
            .precio__boton{
                left: 125px;
            }
        }
        &__content{
            width: 100%;
            margin: 0;
            margin-top: 2.125em;
            &__oferta{
                margin-top: 0.323em;
            }
        }
        &__boton{
            left: 112px;
        }
        &__lista{
            ul{
                font-size: 0.875em;
                line-height: 1.192em;
            }
        }
    }
    //FORM
    .form{
        width: 59.8em;
        height: 23.5em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%; //9.813em 8.875em 4.813em/
        align-items: baseline;
        margin-top: 4em;
        &__name, &__email{
            &__input{
                width: 100%;
            }
        }
        &__titulo{
            font-size: 3.063em;
        }
        &__mail, &__telefono{
            display: inline-block;
        }
        &__mail{
            margin-right: 1.25em;
        }
        &__contact, &__inputs{
            display: inline-block;
        }
        &__contact{
            //margin-top: 200px;
        }
        &__inputs{
            width: 27.5em;
            margin: 0px;
            display: grid;
            grid-template: 9.787em 9.164em 3.563em/100%;
            &__text{
                align-self: end;
            }
        }
        &__checkbox{
            width: 33.75em;
            &__label{
                width: 33.75em;
                height: 9.0em;
                display: inline-block;
                span{
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        &__boton{
            justify-self: right;
        }
        &__btn{
            position: relative;
            margin: 0px !important;
            right: 0;
        }
    }
}
