@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .header__nav {
    display: inline-block;
    width: 50%;
    font-family: "Open Sans";
    font-size: 0.688em;
    font-weight: 700;
    line-height: 4.5em;
    letter-spacing: 3.2799999714px;
    text-align: center;
    color: rgb(165, 165, 165);
  }
  .header__nav ul li {
    display: inline-block;
    margin-right: 5.938em;
  }
  .header__nav ul li:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-bottom: 4px solid rgb(8, 166, 228);
  }
  .header__menu {
    display: none;
  }
  .caracteristicas__header {
    background-image: url(../recursos/images/top-banner.jpg);
    width: 100%;
    height: 594px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .caracteristicas__titulo {
    max-width: 100%;
  }
  .elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    width: calc(73.25em - 4px);
    height: calc(26.125em - 4px);
    display: grid;
    grid-template-columns: 55% 45%;
    align-content: center;
    justify-content: center;
  }
  .card--redimension {
    border: none;
  }
  .card__span {
    display: inline-block !important;
  }
  .card hr {
    display: block;
    width: 20.478em;
    height: 4px;
    border: none;
    margin-top: 4.125em;
  }
  .card__texto {
    max-width: 28.5em;
    max-height: 11.75em;
  }
  .card__texto--center {
    align-content: center;
    margin-top: 3em;
  }
  .card__separador--rojo {
    background-color: rgb(251, 59, 100);
  }
  .card__separador--azul {
    background-color: rgb(8, 166, 228);
  }
  .card__separador--verde {
    margin-top: 5.125em !important;
    background-color: rgb(85, 223, 180);
  }
  .card__titulo {
    font-size: 2.25em;
  }
  .card--responsive {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .card__parrafo, .card__parrafo2 {
    max-width: 28.5em;
    max-height: 4.125em;
    font-size: 1em;
    line-height: 1.375em;
  }
  .card__imagen__uno {
    top: -60px;
    right: -170px;
    background-image: url(../recursos/images/carac_back.svg);
    width: 255px;
    height: 255px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
  }
  .card__imagen__dos {
    right: -130px;
    top: 0;
    background-image: url(../recursos/images/macbook.svg);
    width: 386.44px;
    height: 219px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
  }
  .card__imagen__uno2 {
    top: -80px;
    background-image: url(../recursos/images/carac2_back.svg);
    width: 320px;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
  }
  .card__imagen__dos2 {
    top: -65px;
    right: -70px;
    background-image: url(../recursos/images/iphone.svg);
    width: 426px;
    height: 328px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
  }
  .card__imagen2 {
    width: 27.5em;
    height: 25.75em;
    margin-left: 5.5em;
  }
  .card__imagen2__uno3 {
    left: 108px;
    top: 133px;
    background-image: url(../recursos/images/trumpet.svg);
    width: 265.73px;
    height: 207.72px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 10;
  }
  .card--background {
    background-color: rgb(247, 247, 247);
  }
  .precios__content {
    display: grid;
    grid-template-columns: repeat(3, 23.38em);
    gap: 3.688em;
    justify-content: center;
    margin-top: 3.75em;
    height: 33.25em;
  }
  .precios__titulo {
    margin-top: 3.569em;
  }
  .precio {
    width: 23.38em;
    height: 32.01em;
    margin: 0;
    display: grid;
    grid-template-rows: 12em 23.25em;
    justify-content: center;
    align-content: stretch;
  }
  .precio:hover {
    width: 25.44em;
    height: 34.44em;
  }
  .precio:hover .precio__boton {
    left: 130px;
    cursor: pointer;
  }
  .precio__content {
    width: 100%;
    margin: 0;
    margin-top: 2.125em;
  }
  .precio__content__oferta {
    margin-top: 0.323em;
  }
  .precio__boton {
    left: 112px;
  }
  .precio__lista ul {
    font-size: 0.875em;
    line-height: 1.192em;
  }
  .form {
    width: 59.8em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: baseline;
    margin-top: 4em;
    margin-bottom: 5em;
  }
  .form__name__input, .form__email__input {
    width: 100%;
  }
  .form__titulo {
    font-size: 3.063em;
  }
  .form__mail, .form__telefono {
    display: inline-block;
  }
  .form__mail {
    margin-right: 1.25em;
  }
  .form__contact, .form__inputs {
    display: inline-block;
  }
  .form__inputs {
    width: 27.5em;
    margin: 0px;
    display: grid;
    grid-template: 9.787em 9.164em 3.563em/100%;
  }
  .form__inputs__text {
    align-self: end;
  }
  .form__checkbox {
    width: 33.75em;
  }
  .form__checkbox__label {
    width: 33.75em;
    height: 9em;
    display: inline-block;
  }
  .form__checkbox__label span {
    display: inline-block;
    width: 100%;
  }
  .form__boton {
    justify-self: right;
  }
  .form__btn {
    position: relative;
    margin: 0px !important;
    right: 0;
    cursor: pointer;
  }
  .footer {
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__imagenes {
    position: relative;
    align-self: baseline;
  }
  .footer__imagenes__twitter, .footer__imagenes__facebook {
    cursor: pointer;
  }
}/*# sourceMappingURL=query.css.map */